-- Supabase Data Retention Policy
-- This script configures a daily cron job to delete custom designs older than 30 days.

-- 1. Create a function to delete old designs based on created_at timestamp
CREATE OR REPLACE FUNCTION delete_old_custom_designs()
RETURNS void AS $$
BEGIN
  -- Delete designs created more than 30 days ago
  DELETE FROM custom_designs
  WHERE created_at < NOW() - INTERVAL '30 days';
END;
$$ LANGUAGE plpgsql;

-- 2. Schedule the job to run daily at midnight (UTC)
-- The pg_cron extension is required.
-- Run in Supabase SQL editor: CREATE EXTENSION IF NOT EXISTS pg_cron;
SELECT cron.schedule('delete-old-designs-daily', '0 0 * * *', $$
  SELECT delete_old_custom_designs();
$$);

-- To unschedule the job later, run:
-- SELECT cron.unschedule('delete-old-designs-daily');
